:root {
    --color-primary:#753422;
    --color-secondary:#B05B3B;
    --color-tertiary: #D79771;
  }

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

nav {
    background-color: var(--color-primary);
    box-shadow: 0 3px 20px rgba(0,0,0, 0.2);
    font-family: 'Playfair Display', serif;
    width: 100%;
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.introduction {
    background-image: url("../images/intro-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    color: white;
    min-height: 600px;
    padding: 10px 80px;
    min-width: 1200px;
    width: 100%;
}

.introduction h1{
    font-size:100px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    line-height: 1.1em;
}

.indent{
    margin-left: 120px;
}

.button-wrapper {
    display:inline-block;
    text-align: right;
}

nav button {
    background-color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: none;
    color: rgb(35,87,85);
    padding: 15px 15px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10%;
}

.nav-description h2{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    color: white;
}
nav button:hover {
    opacity: 0.6
}

.portfolio {
    background-image: radial-gradient(circle at 71.4697265625% 10.475260416666666%, var(--color-tertiary) 0%, 15.75%, rgba(4,171,163,0) 35%), radial-gradient(circle at 88.9599609375% 81.34114583333333%, var(--color-primary) 0%, 32.5%, rgba(1,84,80,0) 65%), radial-gradient(circle at 58.8232421875% 11.051432291666668%, var(--color-primary) 0%, 41.99999999999999%, rgba(2,89,85,0) 60%), radial-gradient(circle at 38.7548828125% 96.91080729166667%, var(--color-secondary) 0%, 25%, rgba(150,254,249,0) 50%), radial-gradient(circle at 17.003580729166668% 58.362630208333336%, #3E3E3E 0%, 35%, rgba(62,62,62,0) 50%), radial-gradient(circle at 48.9013671875% 49.521484375%, var(--color-primary) 0%, 100%, rgba(1,84,80,0) 100%);
    color: white;
    text-align: center;
    padding: 40px;
    min-width: 1200px;
    width: 100%;
}

.portfolio h1{
    font-size:50px;
    font-family: 'Playfair Display', serif;
}

.portfolio .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 20px;
    width: 70%;
    margin: 10px auto;
    padding: 30px 0;
}

.portfolio .grid-item {
    margin: 0;
}

.video {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.visible {
    opacity: 1;
}

.services {
    color: white;
    background-color: var(--color-tertiary);
    text-align: center;
    padding: 40px 40px;
    font-size: 20px;
    min-width: 1200px;
    width: 100%;
}

.services h1{
    font-size:40px;
    font-family: 'Playfair Display', serif;
}

.services .grid-container {
    display: grid;
    padding: 30px 0;
    text-align: center;
    grid-template-columns: auto auto auto;
    align-items: start;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    grid-row-gap: 60px;
    width: 80%
}

.services .grid-item {
    width: 400px;
    opacity:0;
    transition: opacity 1.5s ease;
}

.services .grid-text {
    margin: 0 auto;
    width: 80%;
}

.services .visible {
    opacity: 1;
}

.about-us {
    padding: 80px;
    background-color: var(--color-primary);
    text-align: center;
    min-width: 1200px;
    width: 100%;
}

.about-us .grid-container {
    display: grid;
    color: var(--color-primary);
    font: normal normal normal 15px/1.875em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.about-us .grid-item {
    width: 400px;
    overflow: hidden;
    opacity:0;
    transition: opacity 1.5s ease;
}

.about-us .visible {
    opacity: 1;
}

.about-us p {
    margin-top: 40px;
    line-height: 1.88em;
}

.get-in-touch {
    padding: 80px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font: normal normal normal 15px/1.875em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
    text-align: center;
    justify-content: center;
    min-width: 1200px;
    width: 100%;
}

.get-in-touch h1{
    font-size:50px;
    font-family: 'Playfair Display', serif;
}

.get-in-touch a{
    text-decoration: none;
    font-size: 20px;
    color: var(--color-primary);
    transition: opacity .8s ease;
    opacity: 1;
}

.get-in-touch a:hover{
    opacity: .8;
}

.white-overlay {
    background-color: white;
    padding: 40px;
}

footer {
    color: white;
    padding: 40px;
    background-color: var(--color-primary);
    text-align: center;
    min-width: 1200px;
    width: 100%;
}